# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Introduction to Fortran
author:  DT
logo: logo.png
description: >-
  A brief introduction to Fortran, LFRic style.

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: 'off'

launch_buttons:
  binderhub_url: https://mybinder.org
  notebook_interface: jupyterlab
  thebe: true

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: Fortran.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - docs/references.bib

sphinx:
  extra_extensions:
    - sphinx_exercise
  config:
    language: en
    hide_solutions: true
    html_show_copyright: false
    # html_theme: furo
    bibtex_reference_style: author_year
    myst_heading_anchors : 3
    myst_html_meta : {
      "description lang=en": "Fortran training materials",
      "keywords": "Fortran, Learn, Code, Training",
      "property=og:locale":  "en_UK"
    }
    myst_substitutions : {
      "AuthDT": "I'm a **substitution**"
    }
    myst_enable_extensions : [
      "amsmath",
      "colon_fence",
      "deflist",
      "dollarmath",
      # "fieldlist",
      "html_admonition",
      "html_image",
      "linkify",
      "replacements",
      "smartquotes",
      # "strikethrough",
      "substitution",
      "tasklist",
    ]

# Information about where the book exists on the web
repository:
  url: https://github.com/astroDimitrios/fortran-book  # Online location of your book
  # path_to_book: docs  # Optional path to your book, relative to the repository root
  branch: main  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  favicon               : favicon.ico
  baseurl               : https://www.astropython.com/fortran-book/index.html
  use_issues_button     : true
  use_repository_button : true
  home_page_in_navbar   : false
  announcement: "Alpha - Building in Progress"
  extra_footer          : |
    <p>
      This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    </p>

# <p>
#   <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" class="license-img" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
# </p>
